__pycache__/
.ipynb_checkpoints/
.env
*.pkl
data/raw/*
__pycache__/
*.pyc
.env
*.pkl
*.log
*.csv
.DS_Store


# Environment
.env

# Memory & Alerts
phase_8_agent/ai_memory.json
phase_11_alerting/alerts.json

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Docker
*.pid
